In [ ]:
# Groupby is gonna group togethar the values in a column and display them all on the same row and it allows to perform aggregate function on those groupings
import pandas as pd
df=pd.read_csv('Flavors.csv')
df

In [ ]:
# As the Flavor has all the unique values so we are not grouping on its basis
group_by_frame=df.groupby('Base Flavor').mean(numeric_only=True)
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').sum(numeric_only=True)
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').count()
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').min()
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').max()
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max','count','sum']})
group_by_frame

In [ ]:
group_by_frame=df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max','count','sum'], "Texture Rating":['mean','max','count','sum']})
group_by_frame

#### Grouping on multiple columns

In [ ]:
df

In [ ]:
df.groupby(['Base Flavor','Liked']).mean(numeric_only=True)

In [ ]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['mean','max','count','sum'], "Texture Rating":['mean','max','count','sum']})

In [ ]:
df.groupby('Base Flavor').describe() # It is just a generalized function showing summary

### _Practice Groupby_

In [6]:
import pandas as pd
df2=pd.read_csv('highest_gross_video_game_films.csv')
df2.head()

,Rank,Peak,Title,video_game,game_pub,Date,gross,Distributor,Format
0,1,1,Warcraft,Warcraft,Blizzard Entertainment,2016-06-10,439048914,Universal Pictures,Live-action
1,2,2,Detective Pikachu,Detective Pikachu and Pokémon,"Nintendo, The Pokémon Company",2019-05-10,433230304,Warner Bros. Pictures,Live-action/animated
2,3,2,Rampage,Rampage,Midway Games,2018-04-13,428028233,Warner Bros. Pictures,Live-action
3,4,4,Sonic the Hedgehog 2,Sonic the Hedgehog,Sega,2022-04-08,404372904,Paramount Pictures,Live-action/animated
4,5,4,Uncharted,Uncharted,Sony Interactive Entertainment,2022-02-18,401748820,Sony Pictures Releasing,Live-action

In [11]:
df2[['Year','Month','Date']]=df2['Date'].str.split('-',n=2,expand=True)
df2.head()

,Rank,Peak,Title,video_game,game_pub,Date,gross,Distributor,Format,Year,Month
0,1,1,Warcraft,Warcraft,Blizzard Entertainment,10,439048914,Universal Pictures,Live-action,2016,06
1,2,2,Detective Pikachu,Detective Pikachu and Pokémon,"Nintendo, The Pokémon Company",10,433230304,Warner Bros. Pictures,Live-action/animated,2019,05
2,3,2,Rampage,Rampage,Midway Games,13,428028233,Warner Bros. Pictures,Live-action,2018,04
3,4,4,Sonic the Hedgehog 2,Sonic the Hedgehog,Sega,08,404372904,Paramount Pictures,Live-action/animated,2022,04
4,5,4,Uncharted,Uncharted,Sony Interactive Entertainment,18,401748820,Sony Pictures Releasing,Live-action,2022,02