- Import the necessary libraries
- Import the dataset 
- Assign it to a variable
- How many products cost more than $10.00?
- What is the price of each item?
- Sort by the name of the item
- What was the quantity of the most expensive item ordered?
- How many times was a Veggie Salad Bowl ordered?
- How many times did someone order more than one Canned Soda?

In [43]:
import pandas as pd
Thyroid=pd.read_csv('C:\\Users\\Hp\\Desktop\\learning\\Python-Guide\\pandas\\Thyroid_Diff.csv')
Thyroid

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,72,M,Yes,Yes,Yes,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,Yes
379,81,M,Yes,No,Yes,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
380,72,M,Yes,Yes,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
381,61,M,Yes,Yes,Yes,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes
382,67,M,Yes,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes

In [44]:
# How many male patients having age less than 50 have been recurred
male=Thyroid[(Thyroid.Age<50) & (Thyroid.Gender=='M') & (Thyroid.Recurred=='Yes') ]
male=male.filter(items=['Age','Gender','Recurred'],axis=1)
male

     Age Gender Recurred
89    31      M      Yes
224   20      M      Yes
228   20      M      Yes
229   40      M      Yes
230   38      M      Yes
237   36      M      Yes
239   33      M      Yes
298   42      M      Yes
310   38      M      Yes
312   27      M      Yes
316   37      M      Yes
319   33      M      Yes
333   44      M      Yes
335   29      M      Yes
346   32      M      Yes
354   35      M      Yes
360   49      M      Yes
373   31      M      Yes
376   40      M      Yes
377   46      M      Yes

In [45]:
print("The number of Recurred male patients having age<50 are:\n")
print(len(male[['Age','Gender','Recurred']]))

The number of Recurred male patients having age<50 are:

20

In [46]:
# How many female patients having age less than 50 have been recurred
female=Thyroid[(Thyroid.Age<50) & (Thyroid.Gender=='F') & (Thyroid.Recurred=='Yes') ]
female[['Age','Gender','Recurred']]

     Age Gender Recurred
48    26      F      Yes
87    36      F      Yes
88    35      F      Yes
90    18      F      Yes
226   17      F      Yes
227   21      F      Yes
231   21      F      Yes
232   31      F      Yes
233   34      F      Yes
238   29      F      Yes
299   34      F      Yes
304   26      F      Yes
305   30      F      Yes
306   36      F      Yes
307   31      F      Yes
308   40      F      Yes
309   49      F      Yes
311   27      F      Yes
313   33      F      Yes
314   32      F      Yes
315   29      F      Yes
317   48      F      Yes
318   30      F      Yes
326   35      F      Yes
328   34      F      Yes
332   31      F      Yes
334   15      F      Yes
337   45      F      Yes
338   38      F      Yes
341   23      F      Yes
342   22      F      Yes
343   44      F      Yes
344   31      F      Yes
345   25      F      Yes
350   37      F      Yes
352   21      F      Yes
357   26      F      Yes
359   35      F      Yes
361   34      F      Yes

In [47]:
#Using filter function
female=female.filter(items=['Age','Gender','Recurred'],axis=1)
female

     Age Gender Recurred
48    26      F      Yes
87    36      F      Yes
88    35      F      Yes
90    18      F      Yes
226   17      F      Yes
227   21      F      Yes
231   21      F      Yes
232   31      F      Yes
233   34      F      Yes
238   29      F      Yes
299   34      F      Yes
304   26      F      Yes
305   30      F      Yes
306   36      F      Yes
307   31      F      Yes
308   40      F      Yes
309   49      F      Yes
311   27      F      Yes
313   33      F      Yes
314   32      F      Yes
315   29      F      Yes
317   48      F      Yes
318   30      F      Yes
326   35      F      Yes
328   34      F      Yes
332   31      F      Yes
334   15      F      Yes
337   45      F      Yes
338   38      F      Yes
341   23      F      Yes
342   22      F      Yes
343   44      F      Yes
344   31      F      Yes
345   25      F      Yes
350   37      F      Yes
352   21      F      Yes
357   26      F      Yes
359   35      F      Yes
361   34      F      Yes

In [48]:
print("The number of Recurred Female patients having age<50 are:\n")
print(len(female[['Age','Gender','Recurred']]))

The number of Recurred Female patients having age<50 are:

39

In [49]:
#what is Age of each male patient who has been recurred
male['Age']

89     31
224    20
228    20
229    40
230    38
237    36
239    33
298    42
310    38
312    27
316    37
319    33
333    44
335    29
346    32
354    35
360    49
373    31
376    40
377    46
Name: Age, dtype: int64

In [50]:
#what is Age of each female patient who has been recurred
female['Age']

48     26
87     36
88     35
90     18
226    17
227    21
231    21
232    31
233    34
238    29
299    34
304    26
305    30
306    36
307    31
308    40
309    49
311    27
313    33
314    32
315    29
317    48
318    30
326    35
328    34
332    31
334    15
337    45
338    38
341    23
342    22
343    44
344    31
345    25
350    37
352    21
357    26
359    35
361    34
Name: Age, dtype: int64

In [51]:
# Sort by the age of female patients 
female=female.sort_values(by='Age')
female

     Age Gender Recurred
334   15      F      Yes
226   17      F      Yes
90    18      F      Yes
227   21      F      Yes
231   21      F      Yes
352   21      F      Yes
342   22      F      Yes
341   23      F      Yes
345   25      F      Yes
357   26      F      Yes
304   26      F      Yes
48    26      F      Yes
311   27      F      Yes
238   29      F      Yes
315   29      F      Yes
318   30      F      Yes
305   30      F      Yes
332   31      F      Yes
232   31      F      Yes
307   31      F      Yes
344   31      F      Yes
314   32      F      Yes
313   33      F      Yes
328   34      F      Yes
233   34      F      Yes
299   34      F      Yes
361   34      F      Yes
359   35      F      Yes
326   35      F      Yes
88    35      F      Yes
87    36      F      Yes
306   36      F      Yes
350   37      F      Yes
338   38      F      Yes
308   40      F      Yes
343   44      F      Yes
337   45      F      Yes
317   48      F      Yes
309   49      F      Yes

In [52]:
# Sort by the age of male patients 
male=male.sort_values(by='Age')
male

     Age Gender Recurred
224   20      M      Yes
228   20      M      Yes
312   27      M      Yes
335   29      M      Yes
89    31      M      Yes
373   31      M      Yes
346   32      M      Yes
319   33      M      Yes
239   33      M      Yes
354   35      M      Yes
237   36      M      Yes
316   37      M      Yes
310   38      M      Yes
230   38      M      Yes
376   40      M      Yes
229   40      M      Yes
298   42      M      Yes
333   44      M      Yes
377   46      M      Yes
360   49      M      Yes

In [53]:
# How many times the  patients with age >50 Recurred?
fem_age=Thyroid[(Thyroid.Age>50) & (Thyroid.Recurred=='Yes')]
fem_age['Age'].value_counts()

Age
62    6
67    5
56    4
60    3
80    3
63    2
73    2
58    2
71    2
68    2
53    2
51    2
59    2
72    2
75    1
52    1
82    1
79    1
65    1
54    1
64    1
78    1
81    1
61    1
Name: count, dtype: int64

In [54]:
len(fem_age.Age)

49

In [55]:
freq=Thyroid[(Thyroid.Age<50) & (Thyroid.Gender=='M') & (Thyroid.Recurred=='Yes')]
freq=freq.Age.value_counts(ascending=True)
freq

Age
42    1
27    1
36    1
35    1
32    1
29    1
44    1
37    1
46    1
49    1
33    2
38    2
31    2
20    2
40    2
Name: count, dtype: int64

In [56]:
freq2=Thyroid[(Thyroid.Age<50) & (Thyroid.Gender=='F') & (Thyroid.Recurred=='Yes')]
freq2=freq2.Age.value_counts(ascending=True)
freq2

Age
18    1
17    1
48    1
32    1
27    1
33    1
40    1
49    1
37    1
25    1
44    1
22    1
23    1
38    1
45    1
15    1
36    2
30    2
29    2
26    3
35    3
21    3
31    4
34    4
Name: count, dtype: int64