What is pandas?
The name pandas has the reference to both " Panel data and "python data analysis" and was created by mckinney in 2008
> usef for working with data sets
> It has functions for analyzing , aleaning , exploring , and manipulating data
> Read and write data structures and different formats: csv , JSON , ZIP, XML e.t.c



Why we dont work directly with Excel Sheets?
> Excel does not allow filtering to the data or if we try this the process is too slow
> It it not possible to work on a very large amount of data in Excel thats why we use pandas
>

 What is Data Analysis? How to perform data analysis using python? Role of pandas in data analysis. 
 Example: Today we have a large amount of data Such as there are 5000 students in the college all of them have different type od data in which their is name, father name, numbers, every year marks sheet. All this data is very useful which play an important role.    

 Other example: Whatsapp, Facebook have their own data server in which all our data or activities we perform is stored. What they do from this data. They perform daat analysis.
 Analysis means that the useful data or the missing things in the data we handle all these things. After attaining useful data whatever we want to work process with that data we do. All this process is done in data analysis and the one who perfoms this work is known as data scientist.

 Data scientist do: Performing the analysis, and from raw data extracting the useful data


 Data Analysis Includes:
 > Data Cleaning
 > Extracting useful data
 > Transferring
 > Modeling
 > Viulization

 We can perform data analysis from 2 wyas
 1: Data visualization : We visualize that how our useful data looks graphically
 

 Python Libraries for Data Analysis:
 > Numpy
 > statsmodel
 > matplotlib : Data visualization
 > seaborn : Data Visualization
 > pandas : Data Modification or clarification
 > SciPy
 > SickitiLearn

# Pandas data structures
1. Series (1-dimensional labeled array of values)     We can combine 2 series and make 1 data frame
2. DataFrames (2-Dimensional data structure with coloums, much like a table )
3. Panel (A panel is 3D container of the data)

# Importance of pandas in python
> It allows to analyze big data and make conclusions based on statistical theories
> It can clean messy data sets and make them readable and relevant
> Easy handling of (missing data represented as NaN) in floating point as well as non-floating point data
> Size mutability: columns can be deleted and inserted from DataFrame and higher dimensional objects
> Data set merging and joining: Flexible Reshaping & Pivoting of data sets prove time series functionality

# Series data structure
1. It is a 1D array capable of storing various daat types

In [18]:
#Data Structure in python pandas
#pandas provide 3 data structures for processing data such as Series & DataFrame and Panel
#If we have formes list/array/dictionary we want to convert them in pandas data structure
#Then we use pandas data structures
# All these data structures convert according to dimension
#Such as they convert in the form of Excel Sheet
#In this way to clarify data & to analyze data becomes easy
import numpy as np
import pandas as pd
dict={
    "Name":["Alice","Merry","Trump","Merry"],
     "Age":[42,22,76,27]
}
df=pd.Series(dict)
print(df)

Name    [Alice, Merry, Trump, Merey]
Age                 [42, 22, 76, 27]
dtype: object

In [7]:
import pandas as pd
import numpy as np
s = pd.Series([1, 3, 5, None ,np.nan, 6, 8])  #None: Minimal and fixed memory usage. Represents the absence of value.
print(s)

#both np.nan and None serve the purpose of indicating missing or undefined data, but they are used in different contexts:

#np.nan: Specifically used in numerical computations and arrays (e.g., NumPy arrays) to represent missing values. 
# It is compatible with mathematical operations and functions designed to handle numerical data.
#None: A general-purpose placeholder in Python, used to represent missing or undefined values in non-numerical contexts or objects. 
# It is often used in lists, dictionaries, and other data structures where numerical operations are not relevant.

0    1.0
1    3.0
2    5.0
3    NaN
4    NaN
5    6.0
6    8.0
dtype: float64

In [1]:
import numpy as np
import pandas as pd
dates = pd.date_range("20130101", periods=6)

dates



df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.198909  0.441152 -0.716523  0.008104
2013-01-02 -2.186497 -0.237304 -0.628743 -1.249361
2013-01-03 -0.840994  1.179462 -0.944129  1.391384
2013-01-04 -0.142687  0.542194  1.031702 -1.384350
2013-01-05  0.039769  0.914168  0.927195  0.911204
2013-01-06  1.924915  1.147805 -0.291145 -0.421028